<h1>Your result</h1>

<ul>
  <li>Attempt: <%= @attempt%></li>
  <%# <li>Translation: <%= @result[:translation]</li> %>
  <li>Time: <%= @result[:time]%></li>
  <li> <strong><%= @result[:message]%></strong> </li>
  <li>Score: <%= @result[:score]%></li>
  <li>Total score: <%= @total_score %> </li>
</ul>

<p class="btn btn-light text-decoration-none"> <%= link_to "Restart", new_path(score: @total_score) %></p>
